{% load static %}

<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <!-- SEO -->
    <meta name="robots" content="noindex , nofollow" />

    <!-- Web Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100;300;400&family=Noto+Sans:wght@100;200;300;400&family=Noto+Serif:wght@400;700&display=swap" rel="stylesheet">

    <!-- CSS -->
    <link rel="stylesheet" href="{% static 'css/resset.css'%}">
    <link rel="stylesheet" href="{% static 'css/style.css'%}">

    <title>実習生WEB知識テスト│株式会社クレアネット</title>
</head>
<body>
    <div class="wrapper">
        <header class="d-flex page-header">
            <div class="logo">
                <img src="images/cmm_logo.png" alt="クレアネットロゴ">
            </div>
            <div class="loginname"><p>テスト 太郎</p></div>
        </header>
        <nav class="menunav" id="menunav">
            <div class="menudiv">
                <ul>
                    <!-- タイピングテスト -->
                    <li tabindex="1">
                        <b class="test-title">タイピングテスト</b>
                        
                    </li>
                    <!-- デザインテスト -->
                    <li tabindex="2">
                        <b class="test-title">デザインテスト</b>
                        
                    </li>
                    <!-- レイアウトテスト -->
                    <li tabindex="3">
                        <b class="test-title">レイアウトテスト</b>

                    </li>

                    <!-- コーディングテスト -->
                    <li tabindex="4">
                      <b class="test-title"> コーディングテスト</b>
                      
                    </li>
                    
                    <!-- 完了ページ -->
                    <li tabindex="8">
                        
                    </li>
                </ul>
            </div>
        </nav>    
    </div><!-- wrapper -->
    
    
    
    </div>
    
</body>
</html>