{% extends 'base.html' %}
{% load static %}
{% block contents %}

    <main class="score100">
        <!-- アニメーション -->
        <div class="confetti"><span></span><span></span><span></span><span></span>
            <span></span><span></span><span></span><span></span><span></span>
            <span></span><span></span><span></span><span></span><span></span>
            <span></span><span></span><span></span><span></span><span></span>
            <span></span><span></span><span></span><span></span><span></span>
            <span></span><span></span><span></span><span></span><span></span>
            <span></span><span></span><span></span><span></span><span></span>
            <span></span><span></span><span></span><span></span><span></span>
            <span></span><span></span><span></span><span></span><span></span>
            <span></span><span></span><span></span><span></span><span></span>
        </div><!-- /アニメーション -->
        <p class="feedback">
            ぜんもんせいかい！！<br>
            キミはてんさいだ！！！
        </p>
        <div class="cat100">
            <img src="{% static 'img/cat100.png' %} alt="キラキラ猫">
        </div>
        <a href="" class="btn btn--orange btn--radius">もう一回する&emsp;<span class="c-font">&rarr;</span></a>
    </main>
    
{% endblock %}